@font-face {
  font-family: 'YS';	
  src: url('https://www.antaresz.cc/fonts/YS/YS.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body {
    font-family: 'YS'
}